body {
	margin: 0;
}


a {
	text-decoration: none;
	color: rgb(247, 169, 52);
}

.navbar {
	display : flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000955;
	padding: 8px 12px;
}
img.logo2 {
	width: 100px;
	height: auto;
  }

.navbar__menu {
	display: flex;
	list-style: none;
	padding-left: 0;
}

.navbar__menu li {
	padding : 8px 12px;
}

.navbar__menu li:hover {
	background-color: antiquewhite;
	border-radius : 4px;
}

.navbar__icons {
	list-style: none;
	color:  rgb(247, 169, 52);
	display: flex;
	padding-left: 0;
}

.navbar__icons li {
	padding: 8px 12px;
}
/* 맨위로 올리기위해 absolute*/
.navbar__toogleBtn{
	display: none;
	position: absolute;
	right: 32px;
	font-size: 24px;
	color:  rgb(247, 169, 52);
}

/* 반응형위해 media  */
@media screen and (max-width: 768px){
	.navbar{
		flex-direction: column;
		align-items: flex-start;	
		padding: 8px 24px;
	}
	.navbar__menu {
		display: none;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}	
	.navbar__menu li {
		width: 100%;
		text-align:center;
	}
	


.navbar__icons{
	display: none;
	justify-content: center;
	width: 100%
}

.navbar__toogleBtn{
	display: block;
}
/* 토글이 클릭되었을때는 보여주고 싶다*/
.navbar__menu.active,
.navbar__icons.active {
	display: flex;
}
}

/* 마우스 가져갈때 변화 폐기 
#content {
	position: relative;
	width: 100%;
	height: 100%;
  }
  
  .small {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transform: translate(50%, 50%);
	background-color: rgba(0, 0, 0, 0.5);
  }
  
  .large {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: none;
	width: 200%;
	height: 200%;
	transform: translate(50%, 50%);
	background-color: rgba(0, 0, 0, 0.5);
  }*/




  /* 박스들 디자인 .e1_13 { 
	width:425px;
	height:88px;
	position:absolute;
}
.e1_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:425px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e1_5 { 
	border-radius:500px;
	background-color:rgba(155.33750385046005, 69.90187749266624, 69.90187749266624, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:16px;
	top:19px;
}
.e1_18 { 
	border-radius:500px;
	background-color:rgba(155.33750385046005, 69.90187749266624, 69.90187749266624, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:16px;
	top:19px;
}
.e1_12 { 
	width:169px;
	height:23px;
	position:absolute;
	left:77px;
	top:4px;
}
.ei1_12_1_6 { 
	background-color:rgba(233.9624896645546, 149.34603095054626, 22.421411275863647, 1);
	width:49px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_12_1_7 { 
	background-color:rgba(233.9624896645546, 149.34603095054626, 22.421411275863647, 1);
	width:49px;
	height:23px;
	position:absolute;
	left:60px;
	top:0px;
}
.ei1_12_1_8 { 
	background-color:rgba(233.9624896645546, 149.34603095054626, 22.421411275863647, 1);
	width:49px;
	height:23px;
	position:absolute;
	left:120px;
	top:0px;
}
.e1_10 { 
	background-color:rgba(83.35754826664925, 202.95370638370514, 210.58749675750732, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:86px;
	top:42px;
}
.e1_20 { 
	background-color:rgba(83.35754826664925, 202.95370638370514, 210.58749675750732, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:86px;
	top:42px;
}
.e1_11 { 
	background-color:rgba(157.46250182390213, 67.57765620946884, 67.57765620946884, 1);
	width:267px;
	height:45px;
	position:absolute;
	left:133px;
	top:34px;
} */


/* [속성*= '속성값']{  } 이 있다면... 유튜브 코남 아코디언메뉴*/

.accordion input[id*="answer"] {
	display: none;
  }
  
  .accordion label {
	display: block;
	padding: 20px;
	border: 1px solid #232188;
	border-bottom: 0px;
	color: #fff;
	font-weight: 900;
	background: #3634a5;
	cursor: pointer;
	position: relative;
  }
  
  .accordion label em {
	position: absolute;
	top: 50%;
	right: 10px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	display: inline-block;
	/* 다른 사진 으로 click 표현하기 */
	background: url('./images/baby-g159d92274_1920.jpg') 0 0 no-repeat;
  }
  
  .accordion label + div {
	max-height: 0;
	transition: all .35s;
	overflow: hidden;
	background: #3634a5;
	font-size: 11px;
  }
  
  .accordion label + div p {
	display: inline-block;
	padding: 20px;
  }
  
  .accordion input[id*="answer"]:checked + label + div {
	max-height: 100px;
  }
  
  .accordion input[id*="answer"]:checked + label em {
	background-position: 0 -30px;
  }
