<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/static/css/clubmain_style.css">
  <script src="https://kit.fontawesome.com/e2064a471f.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <!--클릭할때마다 지정하는 함수를 호출{} 엑티브 -->
  <script>
    $(document).ready(function () {
      const toggleBtn = $('.navbar__toogleBtn');
      const menu = $('.navbar__menu');
      const icons = $('.navbar__icons');

      toggleBtn.on('click', function () {
        menu.toggleClass('active');
        icons.toggleClass('active');
      });
    });
  </script>
  <!--스크롤 시 추가 생산되는 박스  유튜브유노코딩 바닐라 자바스크립트무한 스크롤 구현-->
  <script>
    var count = 4;
    $(window).scroll(function () {
      if ($(window).innerHeight() + $(window).scrollTop() >= $(document.body).outerHeight()) {
        var toAdd = $('<div>').addClass('accordion');
        toAdd.html(`
      <input type="checkbox" id="answer${count}">
      <label for="answer${count}"><img src="이미지_경로" alt="프로필 사진">
      모임 제목부분<em></em></label>
      <div><p>자세한 모임정보</p></div>
    `);
        $('.accordion-container').append(toAdd);
        count++;
      }
    });
  </script>
</head>

<body>

<nav class="navbar">

  <div class="logo2">
    <a href="https://example.com">
      <img src="static/images/logo2.png" alt="로고" class="logo2">
    </a>

  </div>

  <ul class="navbar__menu">
    <li><a href="#">전체</a></li>
    <li><a href="#">mbti</a></li>
    <li><a href="#">푸드</a></li>
    <li><a href="#">취미</a></li>
    <li><a href="#">친목</a></li>
  </ul>

  <ul class="navbar__icons">
    <!--https://fontawesome.com/ 에서 다운받음-->
    <li><i class="fa-solid fa-pen-to-square"></i></li>
    <li><i class="fa-solid fa-magnifying-glass"></i></li>
  </ul>

  <a href="#" class="navbar__toogleBtn">
    <i class="fa-solid fa-bars"></i>
  </a>


</nav>

<article>
  <!-- 나중에 체크박스 만들 디자인
        <div id="content">
        <div class="small">작은 화면에 보이는 내용</div>
        <div class="large">큰 화면에 보이는 내용</div>
      </div>
      작은 상자 큰상자 디자인
      <div class="small">
      <div class="e1_13">
        <div class="e1_4"></div>
        <div class="e1_5"></div>
        <div class="e1_18"></div>
        <div class="e1_12">
          <div class="ei1_12_1_6"></div>
          <div class="ei1_12_1_7"></div>
          <div class="ei1_12_1_8"></div>
        </div>
        <div class="e1_10"></div>
        <div class="e1_20"></div>
        <div class="e1_11"></div>
      </div> -->
  <div class="accordion-container">
    <div class="accordion">
      <input type="checkbox" id="answer01">
      <label for="answer01"><img src="이미지_경로" alt="프로필 사진">
        모임 제목부분<em></em></label>
      <div>
        <p>자세한 모임정보</p>
      </div>

      <input type="checkbox" id="answer02">
      <label for="answer02"><img src="이미지_경로" alt="프로필 사진">
        모임 제목부분<em></em></label>
      <div>
        <p>자세한 모임정보</p>
      </div>

      <input type="checkbox" id="answer03">
      <label for="answer03"><img src="이미지_경로" alt="프로필 사진">
        모임 제목부분<em></em></label>
      <div>
        <p>자세한 모임정보</p>
      </div>

      <input type="checkbox" id="answer04">
      <label for="answer04"><img src="이미지_경로" alt="프로필 사진">
        모임 제목부분<em></em></label>
      <div>
        <p>자세한 모임정보</p>
      </div>
    </div>
  </div>
  <!--
        가장 큰 페이지에 기본 생성 되는 체크 박스들 더만들기
      -->

</article>
</section>
<section class="features container">


  </div>
</section>
<section class="testimonial container"></section>
<footer></footer>
</body>