<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../static/css/style.css" rel="stylesheet" type="text/css">
	<title>main</title>
</head>

<body>
	<header>
		<div class="header_list">
			<h3 class="title"><a href="#">오이마켓</a></h3>
			<div class="search">
				<input type="text" class="search_input" placeholder="  오늘 뭐하지?">
			</div>
			<div class="login"><a href="#">로그인</a></div>
		</div>
		<nav>
			<ul>
				<li class="nav_bar1"><a href="#">중고거래</a></li>
				<li class="nav_bar2"><a href="#">함께해요</a></li>
				<li class="nav_bar3"><a href="#">내정보</a></li>
			</ul>
		</nav>
	</header>

	<section>
		<a href="#">
			<article>
				<img src="../static/img/ip.avif" alt="img1" width="80%" height="70%">
				<h2>아이폰</h2>
				<p>상태아주좋아요</p>
				<footer>dangdang / 05/15</footer>
			</article>
		</a>

		<a href="#">
			<article>
				<img src="../static/img/ip.avif" alt="img1" width="80%" height="70%">
				<h2>아이폰</h2>
				<p>상태아주좋아요</p>
				<footer>dangdang / 05/15</footer>
			</article>
		</a>
		<a href="#">
			<article>
				<img src="../static/img/ip.avif" alt="img1" width="80%" height="70%">
				<h2>아이폰</h2>
				<p>상태아주좋아요</p>
				<footer>dangdang / 05/15</footer>
			</article>
		</a>
		<a href="#">
			<article>
				<img src="../static/img/ip.avif" alt="img1" width="80%" height="70%">
				<h2>아이폰</h2>
				<p>상태아주좋아요</p>
				<footer>dangdang / 05/15</footer>
			</article>
		</a><a href="#">
			<article>
				<img src="../static/img/ip.avif" alt="img1" width="80%" height="70%">
				<h2>아이폰</h2>
				<p>상태아주좋아요</p>
				<footer>dangdang / 05/15</footer>
			</article>
		</a><a href="#">
			<article>
				<img src="../static/img/ip.avif" alt="img1" width="80%" height="70%">
				<h2>아이폰</h2>
				<p>상태아주좋아요</p>
				<footer>dangdang / 05/15</footer>
			</article>
		</a>

	</section>

	<aside>
		<h3>아나바다</h3>
		<p>우병걸, 송재영, 박상우, 김정훈</p>
	</aside>

	<footer>
		COPYRIGHT © 2023 아나바다  ALL RIGHTS RESERVED.
	</footer>

</body>

</html>