<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>join</title>
    <script th:src="@{/js/jquery-3.6.3.min.js}" type="text/javascript"></script>
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">

</head>
<body>
<section class="login-form">
    <h1>JOIN</h1>
    <form action="#" method="post">
        <div class="int-area">
            <input type="email" name="userEmail" id="userEmail" autocomplete="off" required>
            <label for="userEmail">USER E-MAIL</label>
        </div>
        <div class="int-area">
            <input name="userName" id="userName" autocomplete="off" required>
            <label for="userName">USER NAME</label>
        </div>


        <div class="int-area">
            <input type="password" name="userPassword" id="userPassword" autocomplete="off" required>
            <label for="userPassword">PASSWORD</label>
        </div>
        <div class="int-area">
            <input type="password" name="userPassword" id="passCheck" autocomplete="off" required>
            <label for="userPassword">PASSCHECK</label>
        </div>

        <div class="int-area">
                <fieldset class="mbti">
                    <legend class="mbti-title">MBTI</legend>
                        <select name="m" class="select-box">
                            <option value="e">E</option>
                            <option value="i">I</option>
                        </select>
                        <select name="b" class="select-box">
                            <option value="e">S</option>
                            <option value="n">N</option>
                        </select>
                        <select name="t" class="select-box">
                            <option value="t">T</option>
                            <option value="f">F</option>
                        </select>
                        <select name="i" class="select-box">
                            <option value="j">J</option>
                            <option value="p">P</option>
                        </select>
                </fieldset>
        </div>

        <div class="btn-area">
            <button id="btn">JOIN</button>
        </div>
    </form>
    <div class="caption">
        <a href="#">Already have an ID?</a>
    </div>
</section>

<script th:inline="javascript">
    let userEmail = $('#userEmail');
    let userName = $('#userName');
    let userPassword = $('#userPassword');
    let passCheck = $('#passCheck');
    let btn = $('#btn');

    $(btn).on('click', function (){
        if($(userEmail).val() == ""){
            $(userEmail).next('label').addClass('warning');
            setTimeout(function (){
                $('label').removeClass('warning');
            },1500);
        }
        else if($(userName).val() == ""){
            $(userName).next('label').addClass('warning');
            setTimeout(function (){
                $('label').removeClass('warning');
            },1500);
        }else if($(userPassword).val() == ""){
            $(userPassword).next('label').addClass('warning');
            setTimeout(function (){
                $('label').removeClass('warning');
            },1500);
        }else if($(passCheck).val() == ""){
            $(passCheck).next('label').addClass('warning');
            setTimeout(function (){
                $('label').removeClass('warning');
            },1500);
        }
    });


</script>

</body>
</html>